* {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  max-width: 1280px;
}

.editContainer {
  background-color: lightblue;
  width: 80vw;
}

.editSection {
  background-color: rgb(120, 120, 120);
  margin: 5px;
  padding: 5px;
}

.editItemHeader {
  display: flex;
  justify-content: space-between;
}

.editInputContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.editBulletItem {
  display: flex;
}

.editBulletItem > input {
  flex-grow: 1;
  min-width: 0;
}

.editSectionHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin: 0 0 5px 0;
  background-color: rgb(140, 140, 140);
}

.editJobCompany,
.editEducationItem,
.editGeneralInfo {
  background-color: rgb(140, 140, 140);
  display: flex;
  flex-direction: column;
  padding: 5px 0 5px 5px;
}

.editJobRole {
  margin: 5px 0px 5px 0px;
  padding: 5px 0 5px 5px;
  background-color: rgb(160, 160, 160);
}

.editJobTask {
  /* margin: 5px 0px 5px 5px; */
  background-color: rgb(180, 180, 180);
}

.renderContainer {
  background-color: lightgreen;
  width: 120vw;
}

.buttonAddDel,
.buttonShowHide {
  width: 25px;
  height: 25px;
}

/* .editSection > * > label {
  font-size: 10pt;
}

.editSection > form {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
}

.editSection > form > div {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
} */

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
