@media print {
  body {
    margin: 0;
    padding: 0;
  }
  .editContainer {
    visibility: hidden;
  }

  .resumeContainer {
    /* remove border, center on page when printing */
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: none !important;
  }
}

* {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  justify-content: space-between;
  background-color: rgb(229, 229, 229);
  /* max-width: 1280px; */
}

#appHeader {
  margin: 0;
  padding: 5px;
}

.editContainer {
  /* background-color: lightblue; */
  width: 80vw;
  font-family: Arial, Helvetica, sans-serif;
}

.editSection {
  background-color: rgb(120, 120, 120);
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);
}

.editItemHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px;
}

.editInputContainer {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  padding: 5px;
}

.editBulletItem {
  display: flex;
}

.editBulletItem > input {
  flex-grow: 1;
  min-width: 0;
}

.editSectionHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin: 0 0 0px 0;
  background-color: rgb(140, 140, 140);
  border-radius: 10px;
}

.editJobCompany,
.editEducationItem,
.editGeneralInfo {
  background-color: rgb(140, 140, 140);
  display: flex;
  flex-direction: column;
  padding: 5px 5px 5px 5px;
  margin-top: 5px;
  border-radius: 10px;
}

.editJobRole {
  margin: 5px 0px 5px 0px;
  padding: 5px 0px 5px 5px;
  background-color: rgb(160, 160, 160);
  border-radius: 10px;
}

.editJobTask {
  /* margin: 5px 0px 5px 5px; */
  /* background-color: rgb(180, 180, 180); */
  padding: 0px 5px;
}

.renderContainer {
  /* background-color: rgb(213, 213, 213); */
  width: 120vw;
  font-family: "Times New Roman", Times, serif;
}

.resumeContainer {
  border: 1px solid black;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
}

.editSectionAddFirst {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-top: 5px;
  padding: 0px 5px;
}

.buttonAddDel,
.buttonShowHide {
  min-width: 25px;
  padding: 0 5px 0 5px;
  width: auto;
  height: 25px;
}

input {
  border: 1px solid grey;
  outline: none;
  box-shadow: none;
  padding: 0px 5px;
  min-height: 20px;
  /* border-radius: 5px; */
}

input:focus {
  border-color: blue;
  box-shadow: none;
}

.hidden {
  /* keep this at bottom for precedence */
  display: none;
}

/* .editSection > * > label {
  font-size: 10pt;
}

.editSection > form {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
}

.editSection > form > div {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
} */

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
